<p><i>Kingraven is a high tier HoN player that is known to go into fits of incredible rage and say some of the most epic putdowns known to man. someone was so impressed by his verbal assault that they saw fit to make him his own site.</i> -x[ninjax], 2010</p>

<p>The site eventually expired, so I recreated it and made some "improvements", adding words and phrases I thought were appropriate. There's also a version that is as true to the original insults as I could manage (I don't have the code for the original generator after all, I'm only guessing how it was implemented based on the few samples that surivive).</p>
<p><%= link_to "home", root_url %> | <%= link_to "classic generator", "/classic" %></p>